body {
    height: 100vh;
    width: 100vw;
  
    display: flex;
    align-items: center;
  }
  
  .page-content {
    display: flex;
    justify-content: space-between;
    min-height: 37.5rem;
  }
  
  aside {
    width: 25rem;
    max-width: 100%;
  
    padding: 2.75rem 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  
  
  
  main {  
    width: 25rem;
    max-width: 100%;
  
    padding: 2.75rem 1.5rem; 
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  
    border: 1px solid var(--gray600);
    border-radius: var(--radius-1);
  }
  
  main .register-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  main form {
    min-height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }
  
  main form div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  main section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  @media (max-width: 700px) {
    body {
      height: 100%;   
      width: 100vw;
      padding: 0 0.5rem;
    }
    .page-content{    
      flex-direction: column;
      align-items: center;    
    }
  }